<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container">
    <div class="input">
        <h1>Lisää kysymyksiä tenttiin {{ course_name }}</h1>

        <form action="/add_answers" method="POST">

            <p>
            <input type="radio" name="course_name" value="{{ course_name }}" checked> {{ course_name }} </p>

            <p>Lisää kysymys:<br>

            <textarea name="question" rows="5" cols="50" required></textarea></p>


            <input type="submit" value="Lisää kysymys">
        </form>
    </div>
</div>

<p>
    <a href="/edit_exam/{{ course_name }}">Tentin yhteenveto</a>
</p>
<p>
    <p><a href="/">Palaa etusivulle</a></p>
</p>
<hr>
<h2>Ohjeet:</h2>
Syötä ensin kysymys. Tämän jälkeen voit lisätä kysymykseen haluamasi määrän oikeita ja vääriä vastauksia.

<style>
    body {
        margin: auto;
        max-width: 45em;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

</style>