<div class="container">
    <div class="input">
        <h1>Lisää kysymyksiä tenttiin {{ course_name }}</h1>

        <form action="/add_to_database" method="POST">

            <p>
            <input type="radio" name="course_name" value="{{ course_name }}" checked> Tentin nimi: {{ course_name }} </p>

            <input type="radio" name="question" value="{{ question }}" checked> Kysymys: {{ question }} </p>

            <p>Lisää vastaus:<br>

            <textarea name="answer" rows="5" cols="50" required></textarea></p>

            <p>Vastauksen tyyppi: <br>
            <input type="radio" name="trueorfalse" value="t" checked> Oikea vastaus
            <input type="radio" name="trueorfalse" value="f"> Väärä vastaus</p>

            <input type="submit" value="Lisää vastaus"> <br> <hr>
        </form>
    </div>

    <p><a href="/add_questions/{{ course_name }}">Lisää uusi kysymys</a></p>
    <p><a href="/edit_exam/{{ course_name }}">Tentin yhteenveto</a></p>
    <p><a href="/">Palaa etusivulle</a></p>

    <hr>

    <h2>Ohjeet:</h2>
    Syötä ensin kysymys. Tämän jälkeen voit lisätä kysymykseen haluamasi määrän oikeita ja vääriä vastauksia.
</div>


<style>
    body {
        margin: auto;
        max-width: 45em;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

    nav li {
        display: inline-block;
        padding: 0 .1em;
    }
</style>