<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<div class="login">
    <h1>Luo tunnus</h1>
    <form action="/add_student" method="POST" onsubmit="return check(this)">
        <p>Etunimi:<br>
        <input type="text" name="firstname" required {{ value1 }}></p>
        <p>Sukunimi:<br>
        <input type="text" name="lastname" required {{ value2 }}></p>
        <p>Käyttäjätunnus:<br>
        <input type="text" name="username" required {{ value3 }}>
        {{ message }}</p>
        <p>Salasana:<br>
        <input type="password" name="password1" required {{ value4 }}></p>
        <p>Toista salasana:<br>
        <input type="password" name="password2" required {{ value5 }}></p>
        <input type="submit" value="Luo tunnus">
    </form>
    <form action="/">
        <input type="submit" value="Takaisin">
    </form>
</div>

<!--Tämän voisi ehkä toteuttaa samalla tavalla kuin tarkistetaan, onko username jo käytössä:-->
<script>
    function check(form) {
        if (form.password1.value != form.password2.value) {
            alert("Salasanat eivät täsmää.");
            return false;
        }
        return true;
}
</script>