<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


<div class="input">
    <h1>Luo uusi kurssi</h1>

    <form action="/generate_course/add" method="POST">
        <p>Anna kurssin nimi:
            <input type="text" name="course_name" required></p>

        <p>Opintopisteiden määrä:
            <input type="number" name="credits" required></p>

        <p>Kurssin kuvaus:<br>
        <textarea name="contents" rows="5" cols="50" required></textarea></p>

        <input type="submit" value="Luo kurssi">
    </form>
</div>