<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<h1>
    Tentin tarkastelu: {{ course }}
</h1>
<h2>Tentin kysymykset:</h2>

{{ html | safe }}

<p>
    <a href="/add_questions/{{ course }}">Lisää tenttiin uusi kysymys</a>
</p>


<hr>

<p><a href="/edit_exam">Takaisin tentin valintaan</a></p>
<p><a href="/">Palaa etusivulle</a></p>

<style>
    body {
        margin: auto;
        max-width: 45em;
        font-family: 'Helvetica', 'Arial', sans-serif;
    }

</style>